<?xml version='1.0' encoding='ASCII'?>
<robot name="partnet_6601ef650f03e000c49931aa7ca8fecb">
  <link name="base">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <link name="link_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="frame-7">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/new-0.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <visual name="frame-7">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/new-3.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-0_vhacd_2688361195_part-0.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-0_vhacd_2688361195_part-1.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-0.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-1.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-2.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-3.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-4.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-3_vhacd_2689344238_part-5.obj"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual name="other_leaf-12">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-2.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </visual>
    <visual name="other_leaf-12">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-4.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </visual>
    <visual name="other_leaf-12">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-3.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </visual>
    <visual name="door_frame-9">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/new-2.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </visual>
    <visual name="handle-10">
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/new-1.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-2.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-4.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="../assets/models/MiniFridge/10797/textured_objs/original-3.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-0.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-1.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-2.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-3.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-4.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-5.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-6.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-7.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-8.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-9.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-10.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-11.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-2_vhacd_2689016557_part-12.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-0.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-1.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-2.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-3.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-4.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-5.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-6.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-7.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <mesh filename="vhacd/new-1-fixed_vhacd_2040341801_part-8.obj"/>
      </geometry>
      <origin xyz="-0.41948741391591016 -0.77081 -0.4219671850171603" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0" type="fixed">
    <parent link="base"/>
    <child link="link_0"/>
    <origin xyz="0.0 0.0 0.0" rpy="1.570796326794897 -0.0 -1.570796326794897"/>
    <axis xyz="1.0 0.0 0.0"/>
  </joint>
  <joint name="joint_1" type="revolute">
    <parent link="link_0"/>
    <child link="link_1"/>
    <origin xyz="0.41948741391591016 0.77081 0.4619671850171603" rpy="0.0 -0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="0.0" upper="3.141592653589793"/>
  </joint>
</robot>
