[submodule "lisdf"]
	path = lisdf
	url = https://github.com/Learning-and-Intelligent-Systems/lisdf
[submodule "pybullet_planning"]
	path = pybullet_planning
	url = git@github.com:zt-yang/pybullet_planning.git
[submodule "pddlstream"]
	path = pddlstream
	url = git@github.com:zt-yang/pddlstream.git
