.DS_Store
__pycache__/
.idea/
assets/tmp/*
*.lisdf~
*.pyc
*.gif
*.mp4

documentation/
!documentation/docs/index.md
!documentation/docs/css/gif_looper_update.py
!documentation/docs/css/extra.css

test_cases/
temp/
outputs/
experiments/

*/visualizations/
*/statistics/
*/temp/
*/.ipynb_checkpoints/
*/txt_file.txt
*/collisions.pkl
*/vhacd/
*/gym_images/

!outputs/data_demo.html
!outputs/style.css
