.DS_Store
__pycache__/
.idea/
assets/tmp/*
*.lisdf~
*.pyc
*.gif

documentation/
!documentation/docs/index.md
!documentation/docs/css/gif_looper_update.py
!documentation/docs/css/extra.css

test_cases/

*/statistics/
*/temp/
tests/.ipynb_checkpoints/
tests/txt_file.txt
tests/collisions.pkl
tests/visualizations/
tests/statistics/
tests/vhacd/
tests/gym_images/

temp/
outputs/
!outputs/data_demo.html
!outputs/style.css

txt_file.txt
collisions.json
*.mp4